# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# GOOGLE OAUTH & WORKSPACE CONFIGURATION
ADMIN_GOOGLE_EMAIL="AMITDIED69@gmail.com"
GOOGLE_CLIENT_ID="430007121717-bcqp8gia0osgt4c9njgq1q544d13pmse.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GOOGLE_REDIRECT_URI="https://amitdied.vercel.app/api/auth/google/callback"
GOOGLE_REFRESH_TOKEN="MY_GOOGLE_REFRESH_TOKEN"

# GOOGLE SHEETS
GOOGLE_SHEET_ID="1gnlLIweCywZ_5V__OLqGPNfDLjqKCB7Y1PHBQnfDBLA"

# GOOGLE DRIVE FOLDERS
GOOGLE_DRIVE_AUDIO_FOLDER_ID="1E3no0R-HSGpK_ihIaDMzLutTs3HwD02s"
GOOGLE_DRIVE_COVERS_FOLDER_ID="1b1T6joDt1c9wxhexUc31n1YI_DdebzOm"
GOOGLE_DRIVE_MEDIA_FOLDER_ID="1kaDYyeycE7jQkOjIV9xHQJaTCLWpXzqT"
